nav {
    text-align: center;
}

.links {
    display: inline;
    list-style-type: none;
    padding: 0;
}

.links li {
    margin: 10px 0;
}

.links li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.links li a:hover {
    color: #4CAF50; /* soft green */
}
.signUpFormWrapper {
    height: fit-content;
    width: 500px;
    margin: 0 auto;
    float: none;
    padding: 5px;
}
#signUpForm {
    background-color: white;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    font-size: 16px;
    border: .5px solid gray;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#formHeader {
    width: fit-content;
    margin: 5px auto;
    color: black;
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}
#signUpForm>label {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#signUpForm>input {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-transform: none;
    border-color: lightgray;
    border-style: ;
    border-radius: 3% / 15%;
    width: 70%;
}
form[id="policyAgreements"] {
    margin: 10px;
    padding: 15px;
}
form[id="policyAgreements"]>label {
    position: static;
    font-family: 'Courier New', Courier, monospace;
    margin: 18px 10px 18px 10px;
    font-size: 18px;
}

form>input[type="submit"] {
    position: relative;
    margin: 15px;
    font-size: 16px;
    padding: 8px;
    left: 10px;
}
.newsLetterForm {
    position: relative;
    top: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}
.newsLetterForm>#newsLetterHeading {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.newsLetterForm>#newsLetter {
    margin: 10px;
}
.newsLetterForm>input {
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.policyAgreements {
    position: inherit;
}
#policyAgreement {
    padding: 15px;
    margin: 10px auto;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
button {
    padding: 10px;
    margin: 10px auto;
    box-shadow: -3px 3px 0 black;
    background-color: lightsalmon;
    color: white;
    font-size: 16px;
}
button:hover {
    box-shadow: -4px 4px 0 black;
    border-left: 5px solid black;
    background-color: rgb(254, 123, 70); 
}
button:active {
    box-shadow: -2px 2px 0 black;
    background-color: rgb(254, 123, 70);
}
#footerParagraph {
    padding: 10px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}